# dependencies
/node_modules
__pycache__

# builds
dist/

# database data
*.db
src/backend/data/
!src/backend/data/investment_products.py
!src/backend/data/print_products.py
!src/backend/data/seed.py

# env files
.env*
*.env
!.env.example

# development environment files
## vscode
.vscode

.venv/
